/* Settings */
$backgroud-body: #f2f4f9;
$backgroud-header: #fff;

$accent-color: #f05d7b;
$primary-color: #071e48;
$text-secondary-color: #939bc1;

/* Tools */

/* Generics */
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,400;0,500;1,400;1,500&display=swap');

/* Elements */
* {
    font-family: 'Rubik', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: $primary-color;
}

body {
    font-size: 16px;
    background-color: $backgroud-body;
}

a {
    text-decoration: none;
}

/* Objects */
.container {
    width: 85%;
    margin: 0 auto;
}

// @media screen and (max-width: 1024px) {
//     .container {width: 90%;}
// }

// @media screen and (max-width: 768px) {
//     .container {width: 95%;}
// }

// @media screen and (max-width: 320px) {
//     .container {width: 100%;}
// }

/* Components */
.header {
    position: sticky;
    background-color: $backgroud-header;

    .header-container {
        display: flex;
        justify-content: space-between;
        align-items: center;

        .header-logo {
            padding: .8rem 0rem;
        }

        .header-nav ul {
            display: flex;
            flex-direction: row;

            ol a {
                display: block;
                padding: .8rem;
                transition: all 200ms ease;

                &:hover, &.active {
                    color: #fff;
                    background-color: $accent-color;
                }
            }
        }
    }
}

.principal-section {
    background-color: #fffcfc;
    background-image: url("https://www.transparenttextures.com/patterns/asfalt-dark.png");
    
    .container {
        display: flex;
        padding: 8rem 0rem;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        .principal-text {
            margin: .4rem 2rem .4rem 0;
    
            .principal-title {
                font-size: 4rem;
                font-weight: 500;
                margin: .4rem 0;
            }
        }
    
        .principal-image {
            overflow: hidden;
            max-width: 350px;
            min-width: 250px;
            width: 20rem;
            height: 20rem;
            border: .4rem solid $accent-color;
            border-radius: 50%;
            
            img {
                width: 100%;
                height: auto;
            }
        }
    }
}

.skills-section {

    .container {
        padding: 8rem 0rem;

        .skills-list {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;

            .skill-item {
                display: flex;
                flex-direction: column;
                align-items: center;
                position: relative;
                background-color: #fff;
                padding: 1.2rem 2rem;
                margin: .5rem;
                min-height: 20rem;
                width: 20rem;

                .skill-item-icon {
                    display: block;
                    width: 5rem;
                    height: 5rem;
                    border-radius: 5rem;
                    position: absolute;
                    top: -2.5rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    img {
                        width: 90%;
                        height: auto;
                    }
                }

                .skill-item-title {
                    padding-top: 3.5rem;
                    margin-bottom: 1rem;
                }

                .skill-item-description {
                }
            }
        }
    }
}


/* Utilities */
.accent-text {
    color: $accent-color;
}

.muted-text {
    color: $text-secondary-color;
}